<div class="main">
  <div class="container">
    <h1>タスク詳細</h1>
    <div class="form-group">
      <h2><label>タイトル:</label></h2>
      <div class="input-content">
        <%= @spot.title %>
      </div>
    </div>

    <div class="form-group">
      <h2><label>内容:</label></h2>
      <div class="input-content">
        <%= @spot.content %>
      </div>
    </div>

    <hr>
    <br>
    <wrap class="btn btn-flat-border">
      <%= link_to("編集", "/spot/edit/#{@spot.id}") %>
    </wrap>

    <wrap class="btn btn-flat-border">
      <%= link_to("削除", "/spot/destroy/#{@spot.id}") %>
    </wrap>

    <hr>
    <br>
    <div class="form-group">
      <h2><label>投稿:</label></h2>
      <wrap class="btn btn-flat-border">
        <%= link_to("新規投稿", "/post/new") %>
      </wrap>
      <br><br>
      <% @posts.each do |post| %>
        <div><%= post.content %></div>
        <hr>
      <% end %>

    </div>

  </div>
</div>